*{
    margin: 0;
}

html{
    height: 100%;
}

.row{
    margin: 0;
    max-width: 100%;
    display: flex;
    padding: 0;
}

body{
    height: 100%;
    
}

.col-md-6{
    height: 80%;
}

header{
    background: #633333;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#timmer{
    margin: auto 10px;
}


.live{
    width: 50px;
    height: 50px;
    visibility: hidden;

}

h2{
    letter-spacing: 6px;
}

button {
    width: 100px;
    margin: 5px;
    border-radius: 8px;
    border: 0;
    background: gray;
    color: white;

}

.content{
    margin: auto;
}
.dummy{
    max-width: 100%;
    display: none;
    max-height: 500px;
    
}

.row p{
    margin: auto 10px;
}

#note{
    font-size: 12px;
}

.letter {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.list button{
    width: auto;
}

#otherSearch {
    display: none;
}

.overlay{
    margin: 0;
    height: 80%;
    width: 100%;
    position: absolute;
    background: rgba(173,163,163, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup{
    background: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    border-radius: 20px;
    flex: 1;
    
}

.list{
    display: flex;
    
}

.list-film{
    margin: 10px;
}

@media all and (max-width:768px) {
    .dummy{
        max-height: 300px;
    }
}

#poster{
    height: 100px;
    width: 60px;
}

.film{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

